<div class="container">
  <h2>Please enter the text you'd like to work with:</h2>

  <form method="post" action="/generate">
    <textarea rows="10" cols="70" name="text">Literally ugh semiotics craft beer 8-bit food truck. Tumblr Schlitz blue bottle, leggings Banksy Etsy tofu Pinterest Brooklyn iPhone Neutra sartorial Vice tote bag gastropub. Tonx lomo Etsy cray fanny pack. Selfies farm-to-table locavore Banksy lomo. Truffaut church-key gastropub twee. Pug deep v Echo Park, master cleanse banh mi beard Neutra shoreditch fingerstache street art typewriter before they sold out synth kitsch. Put a bird on it chambray Schlitz, jean shorts bespoke quinoa Marfa flannel trust fund.</textarea><br>
    <input type="submit" value="Generate" class="regular_button">
  </form>


</div>
